include README.md
include LICENSE
include pyproject.toml

include CMakeLists.txt
graft cmake

graft include
graft internal

recursive-include src *.c *.cu *.h

recursive-include python_bindings *.cpp *.in CMakeLists.txt

graft python

recursive-include docs *.md

global-exclude *.py[cod] __pycache__ .DS_Store *.so *.dll *.o *.obj
global-exclude .vscode